################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/RoguelikeEva/bin/Windows/x86/Debug
/RoguelikeEva/obj/x86/Debug
/RoguelikeEva/obj/x86/Debug
/RoguelikeEva/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/RoguelikeEva/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/RoguelikeEva/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/RoguelikeEva/obj/x86/Debug/RoguelikeEva.pdb
/RoguelikeEva/obj/x86/Debug/RoguelikeEva.exe
/RoguelikeEva/obj/x86/Debug/RoguelikeEva.csprojResolveAssemblyReference.cache
/RoguelikeEva/obj/x86/Debug/RoguelikeEva.csproj.FileListAbsolute.txt
/RoguelikeEva/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RoguelikeEva/obj/x86/Debug/CoreCompileInputs.cache
/RoguelikeEva/obj/x86/Debug
/RoguelikeEva/Externals/FibonacciHeap/FibonacciHeap.cs
/RoguelikeEva/Externals/FibonacciHeap/FibonacciHeapNode.cs
